@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #c0c0c1d8;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}

/* styles.css */
.bg-custom-blue {
  background-color: rgb(68 53 212);
}
