body {
  background: #3399ff;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.circle {
  position: fixed; /* Use fixed positioning to keep circles in place while scrolling */
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: -1; /* Keep circles behind content */
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.gradient-circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  animation: float 10s ease-in-out infinite;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.top-right-animation {
  position: absolute;
  top: 100px; /* Ajusta la posición desde el borde superior */
  right: 3%; /* Ajusta la posición desde el borde derecho */
  width: 100px; /* Tamaño del nuevo elemento */
  height: 100px; /* Tamaño del nuevo elemento */
  background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semi-transparente */
  border-radius: 50%; /* Forma circular */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar un efecto 3D */
  animation: float 3s ease-in-out infinite; /* Animación de flotación */
  z-index: -1; 
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
<<<<<<< HEAD
  }
}
=======
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}
>>>>>>> 6db65fef0be546ba13f00db44a4f5c40b22d41ad
