@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0c0dc4;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}

/* styles.css */
.bg-custom-blue {
  background-color: rgb(68 53 212);
}

/* estilos del video de fondo xd*/
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: relative;
  z-index: 1;
  height: 100vh; /* Ensure it covers full viewport height */
}
